.app{
  height: 100%;
  width: 100%;
}
.logo{
  height: 40px;
  width: 40px;
  margin: 10px 20px;
  float: left;
  border-radius: 50%;
  background-image: url('../assets/img/appLogo.png');
  background-size: cover;
}
.header{
  padding: 0;
}
.name{
  font-size: 20px;
  color: white;
}
.user{
  color: white;
  display: flex;
  align-items: center;
  img{
    height: 30px;
    width: 30px;
    margin-right: 4px;
    border-radius: 50%;
  }
}
.headerMenu{
  line-height: 64px;
  float: right;
}
.content{
  margin: 8px;
  background-color: #fff;
}
.copyRight{
  overflow: hidden;
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}